body{
  background-color: #16171f;
  color: white;
  font-family: monospace;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.letterBack{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 40px;
}

.Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body1{
  display: grid;
  width: 400px;
  height: 480px;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(6, 80px);
}